<section class="register">
    <h1>SignIn</h1>
    <!--Alert message here-->
    <form action="/login" method="POST" class="wrap_form">
        <div class="wrap_input">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="wrap_input">
            <input type="password" name="password" placeholder="Password">
        </div>
        <button>signin</button>
    </form>
    <p>If not Registered, click here <a href="/register">Register</a></p>
</section>
