<section class="register">
    <h1>SignUp</h1>
    <!--Alert message here-->
    <form action="/register" method="POST" class="wrap_form">
        <div class="wrap_input">
            <input type="text" name="name" class="name" placeholder="Name">
        </div>
        <div class="wrap_input">
            <input type="email" name="email" class="email" placeholder="Email">
        </div>
        <div class="wrap_input">
            <input type="password" name="password" class="password" placeholder="Password">
        </div>
        <button>signup</button>
    </form>
    <p>Already Registered, click here <a href="/login">Login</a></p>
</section>
